<% if notice.present? %>
  <p id="notice" class="class: alert alert-info"><%= notice.html_safe %></p>
<% end %>
<% if alert.present? %>
  <p id="alert" class="class: alert alert-danger"><%= alert.html_safe %></p>
<% end %>

<h1>Bookmarks</h1>

<%= link_to 'New Bookmark', new_bookmark_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.name %></td>
        <td><%= simple_format( text_to_link(bookmark.url) ) %></td>
        <td><%= link_to 'Show', bookmark %>&ensp;
            <%= link_to 'Edit', edit_bookmark_path(bookmark) %>&ensp;
            <%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
